#hero__section{
    background-color: $teal__color;
    position: relative;
    .hero__slider__box{
        .hero__slider__item{
            .hero__bg{
                @include bg__image ;
                position: relative;
                z-index: 1;
                &::after{
                    @include after__before($bg__color: rgba($heading__color, 0.4),$width:100%,$height:100%, $inset:0, $z__index:-1);
                }
                .text__content{
                    h5{
                        @include heading__5($color:$white__color);
                    }
                    h1{
                        @include heading__1($color:$white__color,$margin:15px 0 0);
                    }
                    p{
                        @include paragraph($color:$white__color,$margin:15px 0);
                    }
                    .shop__btn{
                        @include btn__lg($margin:15px 0 20px,$bg__color:$white__color,$color:$teal__color,$b__color:$white__color);
                        &:hover{
                            @include hover($bg__color:$teal__color,$color:$white__color)
                            ; border-color: $teal__color;;
                        }
                    }
                }  
            } 
        }
        .dots__classs{
            position: absolute;
            bottom: 0;left: 50%;
            transform: translate(-50%,-50%);
            @include display__flex($display:flex !important,) ;
            gap: 5px;
            li{
                button{
                    @include icon__sm($b__radius:50%,$bg__color:$white__color,$color:$teal__color,$b__color:$white__color);
                    &:hover{
                        @include hover($color:$white__color,$bg__color:$teal__color);
                        border-color: $teal__color;
                    }
                }
                &.slick-active{
                    button{
                        @include hover($color:$white__color,$bg__color:$teal__color);
                        border-color: $teal__color;
                    }

                }
            }
        }
        .prev__arrow{
            @include display__flex($a__items:center,$j__content:center);
            @include icon__sm($width:40px,$height:40px,$b__radius:50%,$b__color:$white__color,$bg__color:$white__color,$color:$teal__color);
            position: absolute;
            bottom:0%;
            left: 50px;
            transform: translateY(-20%);
            z-index: 10;
            &:hover{
                @include hover($color:$white__color,$bg__color:$teal__color);
                border-color: $teal__color;
                
            }
        }
        .next__arrow{
            @include display__flex($a__items:center,$j__content:center);
            @include icon__sm($width:40px,$height:40px,$b__radius:50%,$b__color:$white__color,$bg__color:$white__color,$color:$teal__color);
            position: absolute;
            bottom:0%;
            right: 50px;
            transform: translateY(-20%);
            z-index: 10;
            &:hover{
                @include hover($color:$white__color,$bg__color:$teal__color);
                border-color: $teal__color;
                
            }
        }
    }   
}