#error__page{
    background-color: $teal__color;
    #error__context__box{
       text-align: center;
            img{
                width: 80%;
                margin: auto;
            }
            #context__box{
                h3{
                    @include heading__3($color:$white__color);
                }
                p{@include paragraph($color:$white__color,$margin:15px 0)}
                .back__btn{
                    @include btn__lg($b__color:$white__color,$margin:15px 0 0,$bg__color:transparent);
                    &:hover{
                        @include hover($color:$teal__color,$bg__color:$white__color);
                    }
                }
            }
        /* ==========  Device Responsive   ========== */
        @include device__sm{
            img{width:100%;}
        }
    }
}