#forget__password__section{
    #forget__box{
        padding: 30px;
        border-radius: 50px;
        background-image:linear-gradient(90deg, rgba($green__color,1),rgba($teal__color,1));
            
        
        
        #forget__form__box{
            padding: 50px 30px;
            border-radius: 50px;
            background-image: linear-gradient(90deg,rgba($teal__color,0.5),rgba($green__color,0.5));
            h4{
                text-align: center;
                @include heading__4($margin:0 0 30px,$color:$white__color);
            }
            .input__group{
                @include display__flex;
                border: 1px solid $white__color;
                margin: 12px 0;
                label{
                    @include icon__sm($width:40px,$height:40px,$f__size:25px,$bg__color:$white__color,$color:$teal__color);
                }
                input{
                    @include paragraph($color:$white__color,$f__weight:500);
                    padding: 5px 20px;
                    height: 40px;
                    width: 100%;
                }
            }

            
            .forget__btn{
                display: block;
                @include btn__lg($bg__color:transparent,$b__color:$white__color,$color:$white__color,$margin:25px auto 20px);
                &:hover{
                    @include hover($color:$teal__color,$bg__color:$white__color);
                }
            }
            
            p{
                text-align: center;
                @include paragraph($color:$white__color,$l__height:20px);
                a{
                    padding:0 5px;
                    border-radius: 10px;
                    color: $white__color;
                    &:hover{
                        @include hover($color:$teal__color,$bg__color:$white__color);
                    }
                }
            }



            /* ======== Device Responsive Here ========= */
            @include device__xsm{
                padding:30px 10px;
            }
        }   
    }
    
}