#header__section{
    background-color: $teal__color;
    position:  sticky;
    top: 0;
    z-index: 100;
   
    #header__lg{
            
            #header__top{
                padding: 10px 0;
                border-bottom: 1px solid $white__color;
                #top__left{
                    .text__content{
                        @include paragraph($color:$white__color)
                    }
                }
                #top__right{
                    @include display__flex($j__content:end,$a__items:center);
                    gap: 5px;
                    #important__menu__box{
                        .quick__menu{              
                            @include display__flex;
                            gap: 3px;
                           
                            .quick__link{
                                @include paragraph($padding: 0 5px,$color:$white__color,$f__weight:500);
                                background-color: rgba($white__color,0.1);
                                &:hover{
                                    @include hover($color:$teal__color,$bg__color:$white__color)
                                }
                            }

                        }
                    }
                    #currency__lang__box{
                        #currency__lang{
                            padding: 0 5px;
                            border-right: 2px solid $white__color ;
                            border-left: 2px solid $white__color;
                            @include display__flex($j__content:space-between,$a__items:center);
                            gap: 5px;
                            
                            .currency__select,
                            .language__select{
                                border-radius: 0;
                                border: none;
                                @include paragraph($padding:0px 10px ,$color:$white__color,$f__weight:500);
                                background-color:rgba($white__color,0.1);
                                &.select-form:focus{
                                    @include hover($color:$teal__color,$bg__color:$white__color)
                                    
                                }
                                .currency__item,
                                .language__item{
                                    @include paragraph($padding:5px 15px,$color:$white__color,$f__weight:500);
                                    border: 1px solid $white__color;
                                    border-bottom: transparent;
                                    margin: 20px;
                                    background-color:$teal__color;
                                
                                    &:hover,&:focus{
                                        @include hover($color:$teal__color,$bg__color:$white__color)
                                    }
                                }
                                &:hover{
                                    @include hover($color:$teal__color,$bg__color:$white__color)
                                }
                                
                            }
                            

                        }
                    }
                    #social__media__box{
                        #social__media{
                            @include display__flex;
                            gap: 2px;
                            .social__item{
                                @include icon__sm($bg__color:rgba($white__color,0.1));
                                &:hover{
                                    @include hover($color:$teal__color,$bg__color:$white__color)
                                }
                            }
                        }
                    }

                    /* ======= Device Responsive ======= */
                    @include device__sm{
                        justify-content: center;
                        #currency__lang__box{
                            #currency__lang{
                                border-left: transparent;
                            }
                        }
                    }
                    @include device__xsm{
                        justify-content: center;;
                        #currency__lang__box{
                            #currency__lang{
                                border-left: transparent;
                            }
                        }
                    }
                }
            }
            #header__middle{
                padding: 10px;
                background-color: $white__color;

                #middle__logo__box{
                    img{
                        width: 120px;
                        /* ==== Responsive Device ==== */
                        @include device__xsm{
                            width: 90px;
                        }
                    }
                }
                #middle__search__box{
                    padding: 2px;
                    border-radius: 30px;
                    border: 1px solid $teal__color;
                    overflow: hidden;
                    margin: auto;
                    #form__search{
                        background-color: $white__color;
                        border-radius: 30px;
                        padding: 2px;
                        
                        @include display__flex;
                        input{width: 100%;
                        font-size: 16px;
                        line-height: 20px;
                        padding: 5px 20px ;
                        color: $heading__color;
                        border-radius: 30px 0  0 30px;
                        }
                        button{
                            @include btn__xsm($bg__color:$white__color,$b__radius: 30px ,$color:$teal__color,$b__color:$teal__color,$l__height:20px,$padding:5px 20px);
                            &:hover{
                                @include hover($bg__color:$teal__color,$color:$white__color);
                                border-color: $teal__color;
                            }
                        }
                    }
                }
                #middle__right__menu{
                    .right__menu{
                        @include display__flex($a__items:center,$j__content:end);
                        gap: 5px;
                        .right__menu__item{
                            @include icon__lg($color:$teal__color,$bg__color:$white__color,$b__color:$teal__color);
                            &:hover{@include hover($color:$white__color,$bg__color:$teal__color)
                            }
                        }
                    }
                }
                #middle__nav__toggle__box{
                    margin-left: auto;
                    margin: 0;
                    @include display__flex($j__content:end);
                    #nav__toggle__btn{
                        @include icon__lg($color:$teal__color,$b__color:$teal__color,$bg__color:$white__color);
                            &:hover{@include hover($color:$white__color,$bg__color:$teal__color,)
                            }
                    }
                }
            }
            #header__bottom{
                background-color: rgba($white__color,0.1);
                padding: 10px 0;
                
                #bottom__menu__box{
                    .primary__menu{
                        @include display__flex($a__items:center,$j__content:start);
                        .primary__menu__item{
                            padding: 5px 10px;
                            font-size: 16px;
                            line-height: 28px;
                            font-weight: 600;
                            font-family: $b__font;
                            color: $white__color;
                            margin: 0 3px;

            
                            &:hover{
                                @include hover($color:$teal__color,$bg__color:$white__color)
                            }
                        }
                    }
                }
                #bottom__profile__box{
                    #dashboard__box{
                        margin-left: auto;
                        text-align: right;
                        #profile__btn{
                            @include icon__sm($b__color:$white__color,$f__size:20px, $height:40px,$width:50px,$bg__color:transparent
                            );
                            &:hover{
                                @include hover($bg__color:$white__color,$color:$teal__color)
                            }
                        }
                        #dropdown__item__menu{
                            width: 350px;
                            padding: 10px;
                            #dropdwon__menu__scroll{
                                padding-bottom: 200px;
                                overflow-y: scroll;
                                height: 90vh;
                            
                                .dropdown__profile__title{
                                    background-color: $teal__color;
                                    padding:10px 10px;
                                    @include display__flex($a__items:center,$j__content:start);
                                    margin-bottom: 30px;
                                    border-radius: 10px;
                                    gap: 10px;
                                    .img__box {
                                        position: relative;
                                        #avarta__box{
                                            position: absolute;
                                            right: 0;
                                            bottom: 0;
                                            label{
                                                @include display__flex($a__items:center,$j__content:center);
                                                @include icon__xsm($color:$teal__color,$width:20px,$height:20px,$b__radius:50%,$f__size:12px,$bg__color:$white__color);
                                                transform: translate(-30%,30%);
                                            }
                                        }
                                        img{
                                        width: 45px;
                                        height: 45px ;
                                        border-radius: 50%;
                                    }}
                                    .text__content{
                                        .user__name{
                                            @include heading__6($color:$white__color);
                                        }
                                        .user__email{
                                            @include paragraph($color:$white__color);
                                        }
                                        
                                    }
                                
                                }
                                .dropdown__item{
                                    @include display__flex($a__items:center,$j__content:space-between);
                                    gap: 20px;
                                    margin: 2px 0;
                                    .item__display{
                                        @include display__flex($a__items:center);
                                        i{
                                            @include icon__sm($bg__color:transparent,$color:$teal__color)
                                        }
                                        .display__name{
                                            padding-left: 10px;
                                            font-weight: 500;
                                            line-height: 28px;
                                            font-size: 16px;
                                            font-family: $b__font;
                                        }
                                    }
                                    .badge__box{
                                        color: $white__color;
                                        background-color: $teal__color;
                                        border: 1px solid $teal__color;
                                    }
                                    &:hover{
                                        @include hover($color:$white__color,$bg__color:$teal__color)
                                        ;
                                        i{
                                            @include hover($color:$white__color)
                                        }
                                        .badge__box{
                                            @include hover($color:$teal__color,$bg__color:$white__color)
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                #nav__toggle__box{
                    margin-left: auto;
                    @include display__flex($j__content:end);
                    #nav__toggle__btn{
                        @include icon__lg($color:$white__color,$b__color:$white__color);
                            &:hover{@include hover($color:$orange__color,$bg__color:$white__color)
                            }
                    }
                }
            }
    }
    #header__sidebar{
        position: absolute;
        left: 0;;
        top: 0;
        height: 100vh;
        background-color: $teal__color;
        width: 0%;
        transform: scaleX(0);
        transform-origin: left;
        transition: 1s;
        #header__sidebar__top{
            position: relative;
            height: 20vh;
            background-color: $white__color;
            text-align: center;
            .sidebar__logo{
                max-width: 130px;
                margin: 30px auto;
                img{
                    width: 100%;
                height: 50px;
                }
            }
          .close__btn{
            @include icon__sm($color:$teal__color,$bg__color:$white__color,$b__color:$teal__color,$b__radius:50%);
            position: absolute;
            right: 10px;
            top:10px;
            &:hover{
                @include hover($color:$white__color,$bg__color:$teal__color)
            }
          }
        }
        #sidebar__content{
        overflow-y: scroll;
        height: 80vh;
        #header__sidebar__middle{
            margin: 30px 30px ;

            #form__search{
                background-color: $white__color;
                border-radius: 30px;
                margin-bottom: 30px;
                padding: 3px;
                @include display__flex;
                input{width: 100%;
                font-size: 16px;
                line-height: 20px;
                padding: 5px 20px ;
                color: $heading__color;
                border-radius: 30px 0  0 30px;
                }
                button{
                    @include btn__xsm($bg__color:$white__color,$b__radius: 30px ,$color:$teal__color,$b__color:$teal__color,$l__height:20px,$padding:5px 20px);
                    &:hover{
                        @include hover($bg__color:$teal__color,$color:$white__color);
                        border-color: $white__color;
                    }
                }
            }
            #header__sidebar__menu{
                border: 1px solid $white__color;
                .primary__sidebar__item{
                    border: 1px solid $white__color;
                    a{
                        padding:5px 20px ;
                        color:$white__color;
                        font-weight: 500;
                        width: 100%;
                        font-size: 16px;
                        font-family: $b__font;
                        line-height: 28px;
                        &:hover{
                            @include hover($color:$teal__color,$bg__color:$white__color)
                        }
                    }
                }
            }
        }
        #header__sidebar__bottom{
            margin-bottom: 100px;
            border-top: 3px solid $white__color;
            #header__sidebar_dashboard{
                margin: 30px;

                .dashboard__sidebar__item{
                    border-bottom: 1px solid $white__color;
                    a{
                        width: 100%;
                        @include display__flex($a__items:center,$j__content:space-between);
                        font-size: 16px;
                        padding: 5px 10px;
                        font-family: $b__font;
                        font-weight: 500;
                        color: $white__color;
                        .dashboard__item{
                            @include display__flex($display:inline-flex,$a__items:center);
                            i{@include icon__xsm($f__size:16px,$width:20px,$height:20px);
                            }
                            .name{margin-left: 10px;
                            line-height: 28px;}
                        }
                        .item__badge{
                            @include display__flex($a__items:center,$j__content:center);
                            background-color: transparent !important;
                            border: 1px solid $white__color;
                            border-radius: 50%;
                        }
                        &:hover{
                            @include hover($color:$teal__color,$bg__color:$white__color);
                            i{color:$teal__color;}
                            .item__badge{
                                color: $teal__color !important;
                                border-color: $teal__color;;
                            }
                        }
                    }
                }
            }
        }}
    }
    #header__sidebar.active{
        width:280px;
        transform: scaleX(1);
        transition: 1s;
    }

    
    
}